.stripes {
	background: url("Assets/stripes.png");
	height: 13px;
}

body {
	background: url("Assets/background.jpg");
	background-size: cover;
	font-size: 12px;
	font-family: helvetica;
	background-attachment: fixed;
	background-position: center bottom;	
	margin: 0;
	padding: 0;
}

.content{
	margin-top: 300px;
	margin-left: 150px;
}

hr{
	width: 50px;
	height: 2px;
	margin-left: 0px;
	border-color: #FD6E6E;
	background-color: #FD6E6E;
	color: #FD6E6E;	
}

h2{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "helvetica";
	font-size: 26px;
	font-weight: normal;
	color: white;
}

a{
	padding: 0px;
}